extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Nosotros")
            .col-md-7
                h1= pagina
                blockquote placerat ullamcorper. Duis vitae nibh ante. Nam egestas sit amet libero ac ultricies. Donec lorem nibh, ultricies vel lectus vitae, congue ornare eros. Vestibulum sit amet libero elit. Praesent a varius nibh. Integer sit amet dignissim eros. Duis et nisi eros. Vivamus in ultricies quam. 

                p Nunc laoreet, urna iaculis tempus suscipit, tortor justo scelerisque nisl, eu fringilla metus mi at tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis hendrerit sem, nec volutpat mauris porta sit amet. Cras nisi turpis, ullamcorper in fermentum ac, placerat quis leo. Aliquam dignissim nibh vel bibendum feugiat. Suspendisse potenti. Donec vehicula consequat euismod. Vivamus porttitor massa ligula, sit amet dignissim ipsum molestie sed.

                p Cras vel ante odio. Vestibulum porta tortor dolor, nec sagittis nisl congue quis. Nam nec maximus urna, id varius quam. Aenean at purus velit. Pellentesque id interdum leo. Phasellus bibendum porta purus sit amet vulputate. Vestibulum semper ligula ac mattis hendrerit. Sed diam risus, tempus at nibh quis, malesuada tristique ante.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vestibulum semper ligula ac mattis hendrerit. Sed diam risus, tempus at nibh quis, malesuada tristique ante.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vestibulum semper ligula ac mattis hendrerit. Sed diam risus, tempus at nibh quis, malesuada tristique ante.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Vestibulum semper ligula ac mattis hendrerit. Sed diam risus, tempus at nibh quis, malesuada tristique ante.